*{
    margin: 0;
    padding: 0;
}
.main{
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    height: 3.5rem;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    
}
.icon>svg{
    font-weight: 780;
    font-size: 1.5rem;
}
.icon>svg:hover{
    color: #0782d4;
}

